@import "vars";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color:inherit;
}
body {
    font-family: 'Poppins', sans-serif;
    color:#111;
}
#game {
    margin-top: 100px;
    h1 {
        font-size: 48px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }
    #computer {
        margin-top: 100px;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    #human {
        margin-top: 100px;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            li {
                &.off {
                    pointer-events: none;
                }
                img {
                    width:80px;
                }
            }
        }
    }
    #resultList {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            color:#fff;
            width:40px;
            height: 40px;
            border-radius: 100%;
            box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
            margin: 0 3px;
            overflow: hidden;
            font-weight: 700;
            &.win {
                background-color: rgb(1, 171, 223);
                @include longShadow(darken(rgb(1, 171, 223),10), right, 30);
            }
            &.lose {
                background-color: rgb(207, 0, 0);
                @include longShadow(darken(rgb(207, 0, 0),10), right, 30);
            }
            &.draw {
                background-color: rgb(194, 194, 194);
                @include longShadow(darken(rgb(194, 194, 194),10), right, 30);
            }
        }
    }
}

#resultCover {
    //width:100%;
    //height: 100vh;
    position: fixed;
    left:50px;
    top:50px;
    right:50px;
    bottom:50px;

    z-index: 999999;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    &.off {
        display: none;
    }
    h2 {
        color:#fff;
        font-size: 5vw;
    }
    button {
        width:250px;
        height: 100px;
        background-color: #e05a00;
        border-radius: 10px;
        font-size: 20px;
        border:0;
        color:#fff;
        position: relative;
        box-shadow: 0 10px 0 darken(#e05a00,10);   // scss
        &:active {
            box-shadow: 0 0 0 darken(#e05a00,10);   // scss
            top: 10px;
        }
    }
}